.page {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .topbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--text-pri);
    font-size: 14px;
    @media screen and (max-width: 700px) {
        display: none;
      }
  }
  .topbar-left {
    display: flex;
    align-items: center;
    &_icon {
      font-size: 18px;
    }
    &_link {
      a {
        text-decoration: none;
        color: var(--text-pri);
        font-weight: 500;
        margin-left: 10px;
      }
    }
  }
  
  .page-rightsection {
    width: 100%;
    min-height: 80vh;
    padding: 30px 50px 0 50px;
    &_content {
      width: 100%;
      &-topbar {
        width: 100%;
      }
      &-main{
        display: flex;
        flex-direction: column;
        padding: 50px 0 50px 100px;
        &_title{
            line-height: 1;
        h1{
            font-size: 25px;
        }
        p{
           color: var(--text-sec);
        }
        }
        @media screen and (max-width: 700px) {
            padding: 50px;
          }
      }
    }
    @media screen and (max-width: 700px) {
        width: 100%;
        padding: 0;
      }
  }
  .page-left {
    width: 49.6%;
    height: 100%;
    min-height: 80vh;
    background-color: var(--sec-color);
    display: flex;
    place-content: center;
    &_image {
        padding: 70px;
    }
    @media screen and (max-width: 700px) {
        display: none;
      }
  }


  .form{
    &-input{
        margin-bottom: -10px;
    }
    &-pair{
        display: flex;
        gap: 10px;
        margin-bottom: -15px;
        &_item{
            flex-grow: 1;
            .password{
                width: 92%;
            }
                  
        }
        &_last{
            margin-left: auto;
        }  
       
    }
    &-link{
        color: var(--pri-color);
        font-weight: 600;
    }   
    &-button{
         background-color: var(--pri-color);
         color: #fff;
         font-size: 15px;
         margin-top: 50px;
         padding: 10px;
         font-weight: 500;
         border: none;
         border-radius: 6px;

    }
    &-text{
        text-align: center;
        margin-top: 20px;
    }
    &-error{
        color: red;
        font-size: 13px;
        line-height: 1
    }
  }
 



