.page-image {
  &_main {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 600px;
    @media screen and (max-width: 1552px) {
      // padding-top: 150px;
    }
    @media screen and (max-width: 1200px) {
      max-height: 500px;
    }
    @media screen and (max-width: 1024px) {
      max-height: 400px;
    }
    // @media screen and (max-width: 1024px) {
    //   max-height: 500px;
    // }
  }
}

// .poster-image {
//   width: 100%;
//   height: auto;
// }

/* Text */

// width: 171px;
// height: 20px;

// /* Text sm/Regular */
// font-family: 'Inter';
// font-style: normal;
// font-weight: 400;
// font-size: 14px;
// line-height: 20px;
// /* identical to box height, or 143% */

// /* Gray/600 */
// color: #475467;

// /* Inside auto layout */
// flex: none;
// order: 0;
// flex-grow: 0;
