.form-password_note {
  font-size: 12px;
  margin-top: 15px;
  //   display: none;
  &-group {
    display: flex;
    align-items: center;
    margin: 5px 0;

    gap: 8px;
    p {
      margin: 0;
    }
  }
}
